body {
	font-family: "Times New Roman";
	background-color: #6B6B6B;
	color:#B93D00;
}

#desks {
	background-color:#535353;
	color: #DFDDDD;
	margin: 10px;
	padding: 10px;
}
#note{
	background-color:#232323;
	color: #FFFFFF;
	margin: 10px;
	padding: 10px;
}
#dropmenu{
	padding: 10px;
}
#dropMenuButtom{
	margin: 5px;
	padding: 5px;
}
#btnMenu{
	margin: 12px 5px;
}
#modal,#boardName{
		background-color:#131313;
		color: #000;
}
#cog{
	margin: 0px 10px 0px;
}
.btn{
	color:#000;
}
#comments{
	background-color:#D0D0D0;
	color:#000000;
}
#com{
	background-color:#B8B8B8;
}
#expired{
	font-size: 16px;
	color:#C30000
}
tr,td{
	padding: 8px 8px;
}
#note,#checkBox{
	background-color:#B7B7B7;
	color: #000000;
	margin: 10px;
	padding: 10px;
}
#deleteBtm{
	right: 10px;
}